{% spaceless %}

{{ docType() }}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}ZF2 {{ translate('Skeleton Application') }}{% endblock title %}
        </title>
        {% block script %}{% endblock script %}
    </head>
    <body>
        
        
        {% block content %}{{ content|raw }}{% endblock content %}
        
        {% block inline %}{% endblock inline %}
    </body>
</html>
{% endspaceless %}
